In [1]:
# Python 3.5+ supports 'type annotations' that can be
# used with tools like Mypy to write statically typed Python:
def my_add(a: int, b: int) -> int:
    return a + b

my_add(10,20)

30

## Python's list comprehensions are awesome.

vals = [expression 
        for value in collection 
        if condition]

## This is equivalent to:

vals = []
for value in collection:
    if condition:
        vals.append(expression)

In [13]:
even_squares = [x * x for x in range(10) if not x % 2]
even_squares

[0, 4, 16, 36, 64]

### Python has a HTTP server built into the standard library. This is super handy for previewing websites.

### Python 3.x
$ python3 -m http.server

### Python 2.x
$ python -m SimpleHTTPServer 8000

### (This will serve the current directory at http://localhost:8000)

In [14]:
# Because Python has first-class functions they can
# be used to emulate switch/case statements

def dispatch_if(operator, x, y):
    if operator == 'add':
        return x + y
    elif operator == 'sub':
        return x - y
    elif operator == 'mul':
        return x * y
    elif operator == 'div':
        return x / y
    else:
        return None

In [15]:
def dispatch_dict(operator, x, y):
    return {
        'add': lambda: x + y,
        'sub': lambda: x - y,
        'mul': lambda: x * y,
        'div': lambda: x / y,
    }.get(operator, lambda: None)()

In [6]:
dispatch_if('mul', 2, 8)

16

In [7]:
dispatch_dict('mul', 2, 8)

16

In [9]:
dispatch_if('unknown', 2, 8)

In [10]:
dispatch_dict('unknown', 2, 8)

## Functions are first-class citizens in Python:

    They can be passed as arguments to other functions,
    returned as values from other functions, and
    assigned to variables and stored in data structures.

In [11]:
def myfunc(a, b):
    return a + b

funcs = [myfunc]
funcs[0]

In [12]:
funcs[0](2,3)

5

# "is" vs "=="

    "is" expressions evaluate to True if two variables point to the same object
    "==" evaluates to True if the objects referred to by the variables are equal

In [1]:
a = [1, 2, 3]
b=a
b

[1, 2, 3]

In [2]:
a is b

True

In [3]:
a==b

True

In [4]:
c = list(a)

In [5]:
a is c

False

In [28]:
# Why Python Is Great:
# In-place value swapping

# Let's say we want to swap the values of a and b...
a = 23
b = 42

# The "classic" way to do it with a temporary variable:
tmp = a
a = b
b = tmp
print(f"after swapping-a:{a} b:{b}")


# Python also lets us
# use this short-hand:
a, b = b, a
print(f"again swapping-a:{a} b:{b}")

after swapping-a:42 b:23
again swapping-a:23 b:42

### The "timeit" module lets you measure the execution time of small bits of Python code

In [31]:
import timeit
timeit.timeit('"-".join(str(n) for n in range(100))', number=10000)

0.3100717000000017

In [32]:
timeit.timeit('"-".join([str(n) for n in range(100)])', number=10000)

0.2456894000000034

In [33]:
timeit.timeit('"-".join([str(n) for n in range(100)])',number=10000)

0.27378029999999853

In [34]:
timeit.timeit('"-".join(map(str, range(100)))', number=10000)

0.24656459999999925

### Function argument unpacking

In [35]:
def myfunc(x, y, z):
    print(x, y, z)
    
tuple_vec = (1, 0, 1)
dict_vec = {'x': 1, 'y': 0, 'z': 1}

In [38]:
myfunc(*tuple_vec)

1 0 1

In [37]:
myfunc(**dict_vec)

1 0 1

### The standard string repr for dicts is hard to read:

In [39]:
my_mapping = {'a': 23, 'b': 42, 'c': 0xc0ffee}
my_mapping

{'a': 23, 'b': 42, 'c': 12648430}

In [40]:
# The "json" module can do a much better job:
import json
print(json.dumps(my_mapping, indent=4, sort_keys=True))

{
    "a": 23,
    "b": 42,
    "c": 12648430
}

### The get() method on dicts and its "default" argument
    When "get()" is called it checks if the given key exists in the dict. If it does exist, the value for that key is returned. If it does not exist then the value of the default argument is returned instead.

In [43]:
name_for_userid = {
    382: "Alice",
    590: "Bob",
    951: "Dilbert",
}

def greeting(userid):
    return "Hi %s!" % name_for_userid.get(userid, "there")

In [44]:
greeting(382)

'Hi Alice!'

In [45]:
greeting(333333)

'Hi there!'

### How to sort a Python dict by value: (== get a representation sorted by value)

In [56]:
xs = {'b': 3, 'c': 2, 'd': 1, 'a': 4,}
xs

{'b': 3, 'c': 2, 'd': 1, 'a': 4}

In [59]:
xss=sorted(xs.items(), key=lambda x: x[0])

In [60]:
xss

[('a', 4), ('b', 3), ('c', 2), ('d', 1)]

In [61]:
import operator
sorted(xs.items(), key=operator.itemgetter(1))

[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

### Different ways to test multiple flags at once in Python

In [52]:
x, y, z = 0, 1, 0

if x == 1 or y == 1 or z == 1:
    print('passed')
    
if 1 in (x, y, z):
    print('passed')

passed
passed

In [53]:
# These only test for truthiness:
if x or y or z:
    print('passed')

if any((x, y, z)):
    print('passed')

passed
passed

### How to merge two dictionaries

In [54]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}

In [55]:
z = {**x, **y}
z

{'a': 1, 'b': 3, 'c': 4}

### The lambda keyword in Python provides a shortcut for declaring small and anonymous functions:

In [6]:
add = lambda x, y: x + y
add(5,3)

8

In [7]:
def add(x, y):
    return x + y
add(5,3)

8

In [8]:
# So what's the big fuss about?
# Lambdas are *function expressions*:

(lambda x, y: x + y)(5, 3)

# Lambda functions are single-expression functions that are not necessarily bound to a name (they can be anonymous).

# Lambda functions can't use regular Python statements and always include an implicit `return` statement.

8

### Iterate with enumerate() instead of range(len())

In [9]:
a=[1,2,4,5,6]

In [10]:
for i in range(len(a)):
    print(a[i])

1
2
4
5
6

In [13]:
for i, value in enumerate(a):
    print(i, value)

0 1
1 2
2 4
3 5
4 6

### Use list comprehension instead of raw for-loops

In [16]:
squares = []
for i in range(10):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
squares=[x*x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Sort complex iterables with the built-in sorted() method

In [20]:
data = (3, 5, 1, 10, 9)
sorted_data = sorted(data, reverse=True) # [10, 9, 5, 3, 1]
sorted_data

[10, 9, 5, 3, 1]

In [21]:
data = [{"name": "Max", "age": 6}, 
        {"name": "Lisa", "age": 20}, 
        {"name": "Ben", "age": 9}
        ]
sorted_data = sorted(data, key=lambda x: x["age"])
sorted_data

[{'name': 'Max', 'age': 6},
 {'name': 'Ben', 'age': 9},
 {'name': 'Lisa', 'age': 20}]

### Store unique values with Sets

In [23]:
my_list = [1,2,3,4,5,6,7,7,7]
my_set = set(my_list) # removes duplicates
my_set

{1, 2, 3, 4, 5, 6, 7}

In [25]:
my_set=list(my_set)
my_set

[1, 2, 3, 4, 5, 6, 7]

In [27]:
primes = {2,3,5,7,11,13,17,19}
primes

{2, 3, 5, 7, 11, 13, 17, 19}

In [30]:
primes.add(20)
primes

{2, 3, 5, 7, 11, 13, 17, 19, 20}

In [32]:
primes.add(19)
primes

{2, 3, 5, 7, 11, 13, 17, 19, 20}

In [35]:
a={2,4,5,6,2,3,5,6,1}
a

{1, 2, 3, 4, 5, 6}

### Save Memory With Generators

In [36]:
# list comprehension
my_list = [i for i in range(10000)]
print(sum(my_list)) # 49995000

# generator comprehension
my_gen = (i for i in range(10000))
print(sum(my_gen)) # 49995000

49995000
49995000

In [37]:
import sys 

my_list = [i for i in range(10000)]
print(sys.getsizeof(my_list), 'bytes') # 87616 bytes

my_gen = (i for i in range(10000))
print(sys.getsizeof(my_gen), 'bytes') # 128 bytes

87624 bytes
88 bytes

### Define default values in Dictionaries with .get() and .setdefault()

In [40]:
my_dict = {'item': 'football', 'price': 10.00}
price = my_dict['count'] # KeyError!

KeyError: 'count'

In [41]:
# better:
price = my_dict.get('count', 0) # optional default value
price

0

In [42]:
count = my_dict.setdefault('count', 0)
print(count) # 0
print(my_dict) # {'item': 'football', 'price': 10.00, 'count': 0}

0
{'item': 'football', 'price': 10.0, 'count': 0}

### Count hashable objects with collections.Counter

In [62]:
from collections import Counter

my_list = [10, 10, 10, 5, 5, 2, 9, 9, 9, 9, 9, 9]
counter = Counter(my_list)

print(counter) # Counter({9: 6, 10: 3, 5: 2, 2: 1})
print(counter[10]) # 3

Counter({9: 6, 10: 3, 5: 2, 2: 1})
3

In [67]:
counter[9],counter[10]

(6, 3)

In [68]:
from collections import Counter

my_list = [10, 10, 10, 5, 5, 2, 9, 9, 9, 9, 9, 9]
counter = Counter(my_list)

most_common = counter.most_common(2)
print(most_common) # [(9, 6), (10, 3)]
print(most_common[0]) # (9, 6)
print(most_common[0][0]) # 9

[(9, 6), (10, 3)]
(9, 6)
9

### Initialising a list filled with some number

In [69]:
[0]*1000 # List of 1000 zeros 
[8.2]*1000 # List of 1000 8.2's

[8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2,
 8.2]

### Reversing a string

In [70]:
name = "George"
name[::-1]

'egroeG'

### Reverse Sentence

In [76]:
sentence = "I am ganesh kumar patil"
print(" ".join(sentence.split()[::-1]))

patil kumar ganesh am I

### Reverse each word in sentence

In [78]:
sentence="I am ganesh kumar patil"
print(" ".join(word[::-1] for word in sentence.split()[::-1]))

litap ramuk hsenag ma I

### Initialising empty containers

In [73]:
a_list = list()
a_dict = dict()
a_map = map(a,b)
a_set = set()

### Convert a dict to XML

In [74]:
from xml.etree.ElementTree import Element
def dict_to_xml(tag, d):
    '''
    Turn a simple dict of key/value pairs into XML
    '''
    elem = Element(tag)
    for key, val in d.items():
        child = Element(key)
        child.text = str(val)
        elem.append(child)
    return elem

### Underscore(_) separator for Large Number

In [80]:
ten_billion = 10_000_000_000

print(f'{ten_billion:,}')

10,000,000,000

### Assign a value with if statement

In [83]:
# general
isHappy = True

if isHappy == True:
    result_string = 'Happy'
else:
    result_string = 'Not Happy'
print(result_string)


# advanced
isHappy = True
result_string = 'Happy' if isHappy else 'Not Happy'
print(result_string)

Happy
Happy

### Swap values between two variable

In [84]:
# general
low = 10
high = 9

if low > high:
    temp = low
    low = high
    high = temp

print(low, high)


# advanced
low = 10
high = 9

if low > high:
    low, high = high, low

print(low, high)

9 10
9 10

In [86]:
v1=20
v2=40

v1,v2=v2,v1
v1, v2

(40, 20)

### Unpacking

In [85]:
# from 13 cards
cards = ('A', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K' )

# extract ace, 2, 3 only
ace, two, three, *_ = cards
print(ace, two, three)


# extract ace, [numbers], J, Q, K
ace, *numbers, J, Q, K = cards
print(ace, numbers, J, Q, K)

A 2 3
A ['2', '3', '4', '5', '6', '7', '8', '9', '10'] J Q K

### For~Else

In [87]:
# For ~ Else
grades = ['A', 'B', 'C', 'D', 'E', 'F']

my_grade = 'A+'

for grade in grades:
    if grade == my_grade:
        print('grade found')
        break
else:
    print('grade not found')

grade not found

### Size of any object

In [90]:
a=[1,2,4,5,6,7]
#b=(1,2,4,5,6,7)
b=tuple(a)

import sys
sys.getsizeof(a), sys.getsizeof(b)

(112, 96)

### String Multiplication

In [93]:
a="ganesh"
a*5

'ganeshganeshganeshganeshganesh'

### Assign Multiple Variables in One Line

In [95]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [96]:
a,b,c=[10,20,30]
print(a,b,c)

10 20 30

### Create an Enum

In [101]:
class person:
    ganesh=0
    seema=2
    siya=1
    
print(person.ganesh, person.seema, person.siya)

0 2 1

In [103]:
class person:
    ganesh,seema,siya=range(3)
    
print(person.siya, person.seema, person.ganesh)

2 1 0

### The Dir Function

In [112]:
a=[1,2,4,5]
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [113]:
a.pop()
a

[1, 2, 4]

In [114]:
a.reverse()
a

[4, 2, 1]

In [118]:
a.index(4)

0

In [119]:
b=[3,4,5]
a.extend(b)
a

[4, 2, 1, 3, 4, 5]

In [106]:
a.clear()
print(a)

[]

### Argument Unpacking

In [120]:
def func(*args):
    print(args)
    
func(1,2,4)

(1, 2, 4)

In [121]:
func("a","b","c")

('a', 'b', 'c')

In [122]:
person = {"name": "Paul", "age": 23, "location": "London"}

In [123]:
def func(name, age, location):
    print(f"Name = {name}")
    print(f"Age = {age}")
    print(f"Location = {location}")
    
func(**person)

Name = Paul
Age = 23
Location = London