In [30]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
#Read all csv files
india=pd.read_csv("./inputs/covid_19_india.csv")
ageGrpDetails=pd.read_csv("./inputs/AgeGroupDetails.csv")
hospBedsIndia=pd.read_csv("./inputs/HospitalBedsIndia.csv")
icmrTestDetails=pd.read_csv("./inputs/ICMRTestingDetails.csv")
icmrTestLabs=pd.read_csv("./inputs/ICMRTestingLabs.csv")
individualDetails=pd.read_csv("./inputs/IndividualDetails.csv")
population=pd.read_csv("./inputs/population_india_census2011.csv")
StateTestDetails=pd.read_csv("./inputs/StatewiseTestingDetails.csv")

In [40]:
india.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [46]:
india["ConfirmedIndianNational"]=pd.to_numeric(india["ConfirmedIndianNational"], errors="coerce")

In [47]:
india["ConfirmedIndianNational"].max()

177.0

In [21]:
india[india["State/UnionTerritory"]=="Kerala"].max()

Sno                             1721
Date                        31/03/20
Time                         9:30 PM
State/UnionTerritory          Kerala
ConfirmedIndianNational            9
ConfirmedForeignNational           8
Cured                            474
Deaths                             4
Confirmed                        503
dtype: object

In [29]:
states=india["State/UnionTerritory"].unique()
states
type(list(states))

list

In [ ]:
india.head()